body {
    font-family: 'Roboto', "Helvetica Neue", sans-serif;
}

.container {
    width: 90%;
    max-width: 1140px;
    margin: auto;
}

.nav {
    background-color: #2196f3;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    font-size: 16px;
    color: #fff;
}

.logo-link {
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    padding: 11px 20px 11px 20px;
}

.logo-link:hover {
    background-color: #1375c5;
}

.nav-contact {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.number-column {
    display: flex;
    flex-direction: column;
    position: relative;
}

.number-column::before {
    content: '';
    background-image: url('../img/phone.svg');
    background-size: 25px 25px;
    width: 25px;
    height: 25px;
    position: absolute;
    left: -40px;
    top: 50%;
    transform: translateY(-50%);
}

.nav-number-links {
    margin-bottom: 5px;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

.nav-number-links:hover {
    text-decoration: underline;
}

.place {
    padding: 21px 20px 20px 40px;
    position: relative;
}

.place::before {
    content: '';
    background-image: url('../img/pin.svg');
    background-size: 25px 25px;
    width: 25px;
    height: 25px;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    fill: #fff;
}

.place:hover {
    background-color: #1375c5;
}

.main {
    background-color: #fafafa;
}

.main-content {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-link {
    margin-left: 50px;
    font-size: 14px;
    color: #747474;
    font-weight: 500;
    text-decoration: none;
    padding-bottom: 12px;
    border-bottom: 2px solid transparent;
}

.main-link:hover {
    color: #0b79d3;
    border-bottom: 2px solid #ee8b45;
}

.slider {
    padding: 50px;
    background-image: url('../img/slider-background.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.slider-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info-title {
    font-size: 48px;
    margin-bottom: 50px;
    color: #fff;
    font-weight: 500;
}

.info-subtitle {
    font-size: 24px;
    color: #fff;
}

.rate {
    padding: 20px 0;
    background-color: #96c1e7;
}

.rate-title {
    font-size: 28px;
    letter-spacing: .25px;
    color: #1976d2;
    margin-bottom: 20px;
}

/* попытка настроить табы */

.tabs-header {
    display: flex;
    text-align: center;
    color: #00559b;
    font-size: 26px;
}

.tab {
    flex-basis: 50%;
    cursor: pointer;
    padding: 15px;
    font-family: serif;
}

.tab-active {
    background-color: #2196f3;
    color: #fff;
    font-weight: 500;
    border-radius: 3px 3px 0 0;
}

.tab-content {
    margin-top: 1px;
    padding-top: 30px;
    border-top: 5px solid #1274c5;
    border-bottom: 5px solid #1274c5;
}

.pon {
    color: #e3e3e3;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 15px;
    padding: 5px;
    border-left: 4px solid #2196f3;
}

.pon span {
    font-weight: 700;
    font-size: 26px;
    color: #ee8b45;
}

.tab-hide {
    display: none;
}
.tab span{
    color: #ee8b45;
    font-weight: 700;
}

.rate-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rate-clock {
    width: 120px;
}

.rate-card {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px 8px 0 0;
    padding: 30px 15px;
    background-image: url('../img/rate/rate-background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;
    color: #fff;
    margin-bottom: 30px;
}

.rate-name {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
}

.rate-speed {
    font-size: 20px;
    margin-bottom: 15px;
}

.rate-speed span {
    font-weight: 700;
    font-size: 26px;
    color: #ee8b45;
}

.rate-price {
    font-size: 22px;
    font-weight: 400;
}

/* блок новостей */

.news {
    padding: 20px 0;
    background-color: #1c76c0;
}

.news-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.read-more {
    color: #fff;
    font-size: 14px;
}
.read-more:hover{
    color: #ee8b45;
    text-decoration: none;
}

.news-title {
    font-size: 28px;
    letter-spacing: .25px;
    color: #fff;
    margin-bottom: 20px;
}

.news-cards {
    display: flex;
    flex-flow: wrap;
}

.news-card {
    flex-basis: 33%;
}

.news-date {
    font-size: 14px;
    color: #e3e3e3;
    margin-bottom: 10px;
}

.news-description {
    font-size: 16px;
    color: #fff;
}

/* блок с кабельным тв */

.television {
    height: 100vh;
    padding-top: 20px;
}

.television-title {
    font-size: 28px;
    letter-spacing: .25px;
    color: #fff;
    margin-bottom: 20px;
}

.television-img {
    width: 480px;
    margin-bottom: 40px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.television-info {
    text-align: center;
    color: #fff;
    line-height: 1.5;
    font-size: 22px;
}

.television-info span {
    font-weight: 700;
    font-size: 26px;
    color: #ee8b45;
}
